<div class="row" id="cart">
  <% if @products.empty?  %>
    <%= render "carts/empty_cart" %>
  <% else %>
    <div class="col-lg-9">
      <table class="table shadow">
        <thead class="thead-light">
          <tr>
            <th scope="col"><%= t ".image" %></th>
            <th scope="col"><%= t ".product" %></th>
            <th scope="col"><%= t ".price" %></th>
            <th scope="col"><%= t ".quantity" %></th>
            <th scope="col"><%= t ".sum" %></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: 'product', collection: @products %>
        </tbody>
      </table>
    </div>
    <div class="col-lg-3 shadow pb-1">
      <h2><%= t ".cart_sumary" %></h2>

      <div class="mb-2 mt-2 horizontal-line"></div>

      <p><%= t ".amount" %>: <span id="cart-sumary-amount"><%= amount_product %></span></p>
      <p><%= t ".total" %>: <span id="total"><%= format_currency @total  %></span></p>
      <%= link_to t(".checkout"), new_order_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag "handle_update_quantity" %>
