<div class="row">
  <div class="col-lg-4">
    <%= image_tag("https://picsum.photos/200/300", {
        alt: "product image",
        class: "card-img-top img-fluid w-200"
      })
    %>
  </div>
  <div class="col-lg-8">
    <h1><%= @product.name.upcase %></h1>
    <p>
      Price:
      <strong> <%= format_currency @product.price %> </strong>
    </p>
    <div class="horizontal-line mb-4 mt-4"></div>
    <p><%= @product.description %></p>
    <div id="nav-buttons">
      <%= render partial: "carts/add_to_cart", locals: {id: @product.id} %>
    </div>
  </div>
</div>
