<div class="row">
  <div class="col-lg-4">
    <%= image_tag("https://picsum.photos/200/300", {
        alt: "product image",
        class: "card-img-top img-fluid w-200"
      })
    %>
  </div>
  <div class="col-lg-8">
    <h1><%= @product.name.upcase %></h1>
    <p>
      Price:
      <strong> <%= format_currency @product.price %> </strong>
    </p>
    <div class="horizontal-line mb-4 mt-4"></div>
    <p><%= @product.description %></p>

    <% if product_in_cart? @product.id %>
      <%= link_to t(".go_to_cart"), carts_path, class:"btn btn-secondary" %>
    <% else %>
      <%= button_to t(".add_to_cart"), carts_path(id: @product.id), {
        class: "btn btn-primary"
      } %>
    <% end %>
  </div>
</div>
