<div class="row">
  <div class="col-lg-4">
    <%= image_tag("https://picsum.photos/200/300", {
      alt: "product image",
      class: "card-img-top img-fluid w-200"
    }) %>
  </div>
  <div class="col-lg-8">
    <h1><%= @product.name.upcase %></h1>
    <p>Price:
      <strong> <%= number_to_currency @product.price, precision: 0 %> </strong>
    </p>
    <div class="horizontal-line mb-4 mt-4"></div>
    <p><%= @product.description %></p>
    <%= button_tag t(".add_to_cart"), url: "#",class: "btn btn-primary" %>
  </div>
</div>
